<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="it">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <% include ../partials/sidebar %>
        <main>
            <div class="jumbotron">
                <h1>Benvenuto</h1>
                <p>Clicca a sinistra per scegliere cosa vuoi fare</p>
            </div>
        </main>
        <% include ../partials/footer %>
</body>

</html>
